body {
    background-color: black;
    background-image: url('lightning2.gif');
    font-family: 'Diplomata SC', cursive;
    color: white;
}

.data-container, .zip {
    text-align: center;

    /*background-color: lightblue;*/
}

#icon {
  height: 300px;
  width: 300px;
}

.temp, .temp_max, .tamp_min {
    display: inline-block;
}

.changeTemp {
  cursor: pointer;
}
